/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --main-color: #FF0070;
  --main-title-color: #DB00FF;
  --title-color: #000028;
  --text-color: #F1B2CE;
}

.theme-dark .header__decorate {
  display: block;
}