/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
  --main-color: black;
  --main-title-color: #FFC2E6;
  --text-color: black;
  --accent-color: #FF8DCB;
  --button-hover: rgb(50, 49, 45, 0.4);
}

.theme-light .header__decorate {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --bg-image: url(../images/cover-image-light.png);
    --main-color: black;
    --main-title-color: #FFC2E6;
    --text-color: black;
    --accent-color: #FF8DCB;
    --button-hover: rgb(50, 49, 45, 0.4);
  }

  .header__decorate {
    display: none;
  }
}

