/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --main-color: #FF0070;
  --main-title-color: #DB00FF;
  --title-color: #000028;
  --text-color: #F1B2CE;
  --button-hover: rgb(255, 0, 112, 0.4);
  --text-size: 1.125rem;
  --general-padding: 10px 10px;
  --general-gap: 10px;
  --block-gap: 20.5px;
  --header-size: 668px;
}

@media (width >= 765px) {
  :root {
    --general-padding: 20px 20px;
    --header-size: 1024px;
    --general-gap: 20px;
  }
}

@media (width >= 1024px) {
  :root {
    --header-size: 765px;
  }
}