/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --main-color: #FF0070;
  --main-title-color: #DB00FF;
  --title-color: #000028;
  --text-color: #F1B2CE;
  --button-hover: rgb(255, 0, 112, 0.4);
  --text-size: 1.125rem;
  --general-padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  --general-gap: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  --block-gap: 20.5px;
  --min-header-size: 668px;
}

@media (width >= 765px) {
  :root {
    --min-header-size: 1024px;
  }
}

@media (width >= 1024px) {
  :root {
    --min-header-size: 768px;
  }
}